
<!-- <div class="modal&#45;header"> -->
<!--   <button type="button" class="close" data&#45;dismiss="modal" aria&#45;hidden="true">&#38;times;</button> -->
<!--   <!&#45;&#45; <h4 class="modal&#38;#45;title">Title</h4> &#45;&#45;> -->
<!-- </div> -->
<div class="modal-body">
  <div class="row">
    <div id="image-area" class="col-xs-6">
      <img src="<%= photo.get('images').standard_resolution.url %>">
    </div>
    <div id="comment-area" class=" col-xs-5 col-xs-offset-1">
      <button id="like" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-heart"></span>
      </button> 
      <br>
      <h4><%= photo.get('caption').text %></h4>
      <h2> Likes </h2>
      <ul class="likes">
        <% photo.get('likes').data.forEach(function (user, index) { %>
          <li class="like">
          <a data-picture-link="<%= user.profile_picture %>" class="user-link" href="#/users/<%= user.id %>"><%= user.username %></a><% if (index !== photo.get('likes').data.length - 1) { %>,&nbsp<% } %>
          </li>
        <% }); %>
      </ul>
      <br>
      <div class="image-preview">
      </div>
      <h2>Comments </h2>
      <ul id="comments-list">
        <% photo.get('comments').each(function (comment) { %>
          <li>
          <a href="#/users/<%= comment.get('user_id') %>"> <%= comment.get('username') %></a>: 
            <%= comment.get('body') %>
          </li>
        <% }); %>
      </ul>
    <form>
      <input 
        type="hidden" 
        name="authenticity_token" 
        value="<%= $('[name=csrf-token]').attr('content') %>">
      <input
        id="body-comment"
        type="text"
        name="comment">
      <input
        id="create-comment"
        type="submit"
        value="Comment">
    </form>
    </div>
  </div>
</div>
<!-- <div class="modal&#45;footer"> -->
<!--   <!&#45;&#45; <button type="button" class="btn btn&#38;#45;default" data&#38;#45;dismiss="modal">Close</button> &#45;&#45;> -->
<!--   <!&#45;&#45; <button type="button" class="btn btn&#38;#45;primary">Save changes</button> &#45;&#45;> -->
<!-- </div> -->
