<!DOCTYPE html>
<html>
<head>
  <title>Bettergram</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Rosarivo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>
<%= render 'layouts/photo_show' %>

<ul>
  <% [:errors, :messages].each do |message_type| %>
    <% next if flash[message_type].nil? %>
    <% flash[message_type].each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
